body {
    text-align: center;
    font-size:1.5vw;
    background-color: black;
    color: white;
}
table, td, th{
    border: 2px solid white;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td{
    min-width: 2.604vw;
    height: 1.5vw;
}